.icon-skip-forward {
    background-repeat: no-repeat;
    background-position-y: 4px;
    width: 16px !important;
    float: right !important;
    margin-left: 8px !important;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA6klEQVQ4T6VSURHCMAxdnMwBOAAJOKAoABRQFDAJwwEOGA7AATgABd17u7QXRvfBtXe5pnnpy0taqQqXFN6vyglCCBeoaEWE+9cCNkfgANsDf1oQmMN5LXCCAiTYIPEdEwEt4V9hjBFLRYB5klsC3mPiDolnHgxB5GzgHFlkiiAmdqwIq1WBVX9XbJVTYBOphkq2Nmj8B/zZuAWb+8KBkk8Zgg9iVLKYImCfPjMDct1gTu1niJTlcJnsuSEOxIpxTwSU1EQwSjYK2A6JO4MlghZBP/4oWqUmBuPTpv+h2NBG+VfOTPivULGCHg6ufGrzER82AAAAAElFTkSuQmCC);
}